<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.RatingMapper">
    <!-- 평점 목록 페이지 조회 -->
    <select id="selectByPage" resultType="rating">
        SELECT * FROM movie.ratings
        ORDER BY id DESC
            LIMIT #{limitSize}
        OFFSET #{startRow};
    </select>

    <!-- 전체 평점 조회 -->
    <select id="getAllRatings" resultType="rating">
        SELECT * FROM movie.ratings;
    </select>

    <!-- 개별 평점 조회 -->
    <select id="getOneRating" parameterType="string" resultType="rating">
        SELECT * FROM movie.ratings WHERE id = #{id}::INTEGER;
    </select>

    <!-- 평점 개수 카운트 -->
    <select id="selectMaxPage" resultType="int">
        SELECT COUNT(*) FROM movie.ratings;
    </select>

    <!-- 영화 평점 추가 및 수정 -->
    <insert id="addScore" parameterType="rating">
        INSERT INTO movie.ratings (movie_id, user_id, score)
        VALUES (#{movieId}, #{userId}, #{score});
    </insert>

</mapper>